body {
  margin: 0;
  background-color: #e0e0e0;
}
.scroll{
	
}
.aaa {
  width: 480px;
  height: 112.1px;
  margin: 52px 44px 25.9px 360px;
  padding: 17px 20px 9.1px 23px;
  border: solid 1px var(--invalid-name);
  background-color: #fff;
  position: relative; 
  left: 330px; 
  top: 40px;
}
.bbb {
  width: 350px;
  height: 400px;
  margin: 52px 44px 25.9px 360px;
  padding: 17px 20px 9.1px 23px;
  border: solid 1px var(--invalid-name);
  background-color: #e0e0e0;
  position: relative; 
  left: 930px; 
  top: -190px;
}
.ccc {
	width: 520px;
  	height: 850px;
  	margin: 0 0;
  	padding: 9px 0 19px;
  	border-radius: 5px;
  	border: solid 1px var(--invalid-name);
	background-color: #fff;
  	position:relative;
	left:690px;
  	top:-450px;
}
.ddd{
	width:100px;
	height:45px;
	margin-right:20px;
}
.profileimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box1 {
	width: 50px;
	height: 50px;
	border-radius: 70%;
	overflow: hidden;
	border: 2px solid red;
}
.boxnored {
	width: 50px;
	height: 50px;
	border-radius: 70%;
	overflow: hidden;
}
.box2 {
	width: 210px;
	height: 70px;
	overflow: hidden;
}
.box3 {
	width: 30px;
	height: 30px;
	border-radius: 70%;
	overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.Nick-State {
  width: 62px;
  height: 30px;
  margin: 0 62px 0 7.4px;
  font-family: MalgunGothic;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #303030;
}
.Text-State {
	width: 150px;
 	height: 25px;
  	margin: 0 62px 0 7.4px;
  	font-family: MalgunGothic;
  	font-size: 14px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 2.14;
  	letter-spacing: normal;
  	text-align: left;
  	color: #a4a4a4;
}

.socialproject {
  width: 168px;
  height: 35px;
  margin: 36.5px 133.4px 0 0.3px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  position:relative;
  text-align: left;
  left: 1320px;
  top: -170px;
  color: #a4a4a4;
}