/* SMS 컨텐츠 */
.smsTable {
  position: fixed;
  left: 358px;
  top: 106px;
  width: 100%;
  height: 100%;
  display: none;
}

#smsSend {
  position: absolute;
  left: 45px;
  top: 17px;
  font-family: MalgunGothic;
  font-size: 20px;
  font-weight: bold;
}

/* SMS 테이블 */
#iphone{
  position: relative;
  top: 100px;
  left: 250px;
  width: 350px;	
}

.table{
  position: absolute;
  top: 187.5px;
  left: 293px;
  width: 302.5px;
  height: 540px;
  background-color: #3D4D60;
}

thead{
  height: 50px;	
  width: 302px;
}

.textCount{
   position: absolute;
   left: 234px;
   top: 277px;
   font-size: 14px;
   color: #707070;
}

.textTotal{
   position: absolute;
   left: 250px;
   top: 277px;
   font-size: 14px;
   color: #707070;
}

textarea[name=msg]{
  width: 270px;
  height: 240px;
  border-radius: 5px;
  border: solid 2px #303030;
  outline-style: none;
  resize: none;
  padding: 10px;
}

.receiveInput{
  width: 200px;
  border-radius: 5px;
  border: solid 2px #303030;
  outline-style: none;
  font-size: 13px;
  height: 20px;
}

input[name=rphone]{
  width: 160px;
  margin-top: 10px;
  border-radius: 5px;
  border: solid 2px #303030;
  outline-style: none;
  font-size: 13px;
  height: 20px;	
  padding-left: 3px;
}

#openBtn{
  padding-bottom: 20px;
  border-radius: 5px;
  width: 113px;
  height: 20px;
  text-align: center;
}

#userPhone-content{
  position: absolute;
  background-color: #fff;
  border: solid 1px #eee;
  width: 107px;
  height: 77px;
  left: 478px;
  top: 635px;
  font-size: 12px;
  overflow-y: scroll;
}

.userPhoneTable tbody tr{
  height: 18px;
  cursor: pointer;
}

.changeColor {
  background-color: #bff0ff;
}

.sendBtn{
  background-color: #E5F6FF;
  border-radius: 3px;
  border: none;
  height: 25px;
  padding-left: 10px; 
  padding-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

#kakaoShare{
  position: absolute;
  left: 200px;
  cursor: pointer;
}

/* 카카오 공유하기 페이지 */
.kakaoSharePage{
  position: absolute;
  top: 187.5px;
  left: 293px;
  width: 302.5px;
  height: 540px;
  background-color: #ACC4D7;
}

#phoneNav{
  position: absolute;
  top: 0;
  left: -20px;;
}

#kakaoProfile{
  position: absolute;
  left: -5px;
  top: 40px;
}

#kakaoShareImg{
  position: absolute;
  left: 125px;
  top: 90px;
}

#shareBtn{
  position: absolute;
  width: 147px;
  height: 23px;
  background-color: #eeeeee;
  border-radius: 3px;
  font-size: 10px;
  left: 148px;
  top: 360px;
  border: none;
  outline: none;
  cursor: pointer;
}

#smsSendBtn {
  position: absolute;
  left: 200px;
  top: 500px;
  cursor: pointer;
}

/* SMS 메시지 보관함 */
.sms-log-table{
  position: absolute;
  left: 730px;
  top: 100px;
  width: 650px;
  height: 720px;
  border: solid 1px #a4a4a4;
  border-radius: 8px;
}

.smsSendLog{
  position: absolute;
  left:40px;
  top:30px;
  font-size: 20px;
  color: #303030;
}

#smsSampleBtn{
  position: absolute;
  left: 405px;
  top: 30px;
  width: 100px;
  height: 30px;
  background-color: #D4D4D4;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

#excelBtn{
  position: absolute;
  left: 520px;
  top: 30px;
  width: 100px;
  height: 30px;
  background-color: #2398F5;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

.smsLogTable{
  position: relative;
  border-collapse: collapse;
  top: 70px;
  left: 30px;
  width: 590px;
  height: 650px;  
 
}

#smsHead{
  display:block;
  width: 590px;
  height: 50px;
  border-top: solid 3px #a4a4a4;
}

#phone{
  width: 140px; 
  font-weight: normal;	
  border-right: solid 2px #eee;
  border-bottom: solid 2px #eee;
}

#content{
  width: 310px; 
  font-weight: normal;	
  border-right: solid 2px #eee;
  border-bottom: solid 2px #eee;
}

#date{
  width:140px; 
  font-weight: normal;	
  border-bottom: solid 2px #eee;
}

#ajaxTable3{
  display:block;
  width: 590px;
  height: 450px;
  overflow-y: scroll;
  text-align: center;
}

#ajaxTable3 td{
  border-bottom: solid 1px #eee;	
}

.changeAjaxTable3Color {
  background-color: #f5f5f5;
}

#phone-row{
  width: 140px; 
  font-weight: normal;		
}

#content-row{
  width: 310px; 
  font-weight: normal;		
}

#date-row{
  width:140px; 
  font-weight: normal;		
}

/* sms 문구 */
.smsSampleTable{
  position: relative;
  border-collapse: collapse;
  top: 70px;
  left: 30px;
  width: 590px;
  height: 650px;  
 
}

#smsHead2{
  display:block;
  width: 590px;
  height: 50px;
  border-top: solid 3px #a4a4a4;
}

#num{
  width: 100px; 
  font-weight: normal;	
  border-right: solid 2px #eee;
  border-bottom: solid 2px #eee;
}

#content2{
  width: 490px; 
  font-weight: normal;	
  border-bottom: solid 2px #eee;
}


#ajaxTable4{
  display:block;
  width: 590px;
  height: 450px;
  overflow-y: scroll;
  text-align: center;
}

#ajaxTable4 td{
  border-bottom: solid 1px #eee;	
}

.changeAjaxTable4Color {
  background-color: #f5f5f5;
}

#num-row{
  width: 100px; 
  font-weight: normal;		
}

#content2-row{
  width: 490px; 
  font-weight: normal;		
}

.changeAjaxTable4Color {
  background-color: #f5f5f5;
}

/* 잔여 문자량 */
.smsCount{
  position: absolute;
  left: 30px;
  top: 600px;
  width: 590px;
  height: 100px;
  border-top: solid 2px #eee;
}

.sendCount{
  float: left;
  color: #303030;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.sendContent{
  position: relative;
  width: 580px;
  height:30px;	
  top:10px;
}
.count{
  float: right;
  color: red;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}