.side-bar{
    position:fixed;
        width: 360px;
        height: 1000px;
        background-color: #e0e0e0;
        z-index: -10;
 
}


.Text-Info{
    z-index: 10;
    font-family: MalgunGothic;
    position:absolute;
    left: 91px;
    top: 160px;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Update{
    z-index: 10;
    font-family: MalgunGothic;
    position:absolute;
    left: 91px;
    top: 227px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Info{
    z-index: 10;
    position:absolute;
    left:41.2px;
    top: 158px;
	
}

.Update{
    z-index: 10;
    position:absolute;
    left:41.2px;
    top: 227px;
	
}
.big-delete{
font-size: 40px;
    font-weight: bold;
    position:absolute;
    left:995px;
    top: 248px;
    cursor: pointer;
}
.long{
    font-size: 16px;
    font-weight: bold;
    position:absolute;
    left:782px;
    top: 390px;

}

.email{
    font-size: 16px;
    font-weight: bold;
    position:absolute;
    left:821px;
    top: 545px;
    font-size: 20px;


}

.email1{

    position:absolute;
    left:970px;
    top: 545px;
    font-size: 20px;

}

.sign-date{
    font-size: 16px;
    position:absolute;
    left:1200px;
    top: 547px;


}

#abutton{
  position: absolute;
  left: 782px;
  top: 729px;
  background-color:  #e7e7e7;
  width: 608px;
  height: 59px;
  size: 25px;
  font-family: MalgunGothic;
  color: #a4a4a4;
  text-align: center;
  line-height: 59px;
  

}

.agree{
    position:absolute;
    left:818px;
    top: 675px;
    font-size: 16px;
    font-weight: bold;
}

input[type="checkbox"] + label {
	z-index : 10;
    position: absolute;
    top: 430px;
    left: 71px;
    width: 19.1px;
    height: 19.1px;
    background: url("./images/withdrawCheckBoxFalse.svg") no-repeat 0 0px /
      contain;
    cursor: pointer;
    
  }
  input[type="checkbox"] {
  display: none;
}
input[type="text"]:-ms-clear {
  display: none;
}
  
  input[type="checkbox"]:checked + label {
    background: url("/images/withdrawCheckBoxTrue.svg") no-repeat 0 0px / contain;
    cursor: pointer;
  }

  .empty-box {
    position:absolute;
    width: 608px;
    height: 68px;
    top: 523px;
    left: 782px;
    border: solid 1px #e7e7e7;
    background-color: #fff;
    border-radius: 5px;
  }
  /* ν‘Έν„° μ‹μ‘ */
.login_footer {
  height: 150px;
  width: 119%;
  position: absolute;
  bottom: 0;
}

.footer_inner {
  width: 519.5px;
  height: 100px;
  margin: auto;
}

.footer_info {
  font-size: 13px;
  line-height: 40px;
  color: #737373;
}

.footer_info > a {
  text-decoration: none;
  color: #737373;
}

.footer_info2 {
  font-size: 12px;
  color: #737373;
}

.footer_info3 {
  font-size: 12px;
  color: #737373;
}

.footer_info4 {
  font-size: 10px;
  color: #737373;
}

a:active {
  color: #e0e0e0;
}
  

  


