html {
  height: 100%;
  display: block;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

nav {
  width: 100%;
  /* overflow: hidden; */
  height: 80px;
  background-color: #fff;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.16);
}

#navbar {
  width: 100%;
  position: fixed;
}

img#signUpOkLogo {
  position: absolute;
  top: 31px;
  left: 33px;
}

#logo {
  position: absolute;
  font-family: Billabong;
  font-size: 45px;
  left: 75px;
  top: 20px;
  text-decoration: none;
  color: #000;
}

#navbar > ul {
  float: right;
  display: flex;
  margin-right: 57px;
  line-height: 45px;
}

li {
  padding-right: 10px;
  font-family: HelveticaNeue;
  font-size: 18px;
}

a.signUp {
  text-decoration: none;
  color: #303030;
}

a.signUp:active {
  text-decoration: underline;
  color: #551a8b;
}
/* 아이디 찾기 텍스트 */
.findIdInfo-text {
  position: absolute;
  height: 220px;
  width: 216px;
  left: 50%;
  top: 21%;
  transform: translate(-50%, 0%);
}

#idFindLogo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
#findId-text {
  position: absolute;
  font-size: 40px;
  top: 70%;
  color: #6b6b6b;
  font-family: MalgunGothic;
  font-weight: bold;
}

/* 아이디 찾기 컨텐츠 */
.findId-content {
  position: absolute;
  height: 320px;
  width: 460px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}

#findIdComment {
  position: absolute;
  width: 300px;
  left: 50%;
  font-size: 18px;
  font-family: MalgunGothic;
  color: #474747;
  transform: translate(-50%, 0%);
}

.findId-box {
  position: absolute;
  top: 22%;
  height: 73px;
  width: 460px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

#email {
  position: absolute;
  font-family: MalgunGothic;
  font-size: 20px;
  line-height: 3.5;
  left: 10%;
}

#joinDate {
  position: absolute;
  font-family: MalgunGothic;
  font-size: 16px;
  line-height: 4.6;
  left: 55%;
}

.loginBtn {
  position: absolute;
  top: 75%;
  left: 23.5%;
  font-family: MalgunGothic;
  font-size: 20px;
  width: 215px;
  height: 45px;
  transform: translate(-50%, 0%);
  background-color: #303030;
  color: #fff;
  border: none;
  cursor: pointer;
}

.findPwdBtn {
  position: absolute;
  top: 75%;
  left: 77%;
  font-family: MalgunGothic;
  font-size: 20px;
  width: 215px;
  height: 45px;
  transform: translate(-50%, 0%);
  background-color: #e7e7e7;
  color: #a4a4a4;
  border: none;
  cursor: pointer;
}

/* 푸터 */
.signUp_footer {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-height: 860px) {
  .signUp_footer {
    display: none;
  }
}
.footer_inner {
  position: relative;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.footer_info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #737373;
  font-family: HelveticaNeue;
  font-size: 12px;
}
