html {
  height: 100%;
  display: block;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

nav {
  width: 100%;
  /* overflow: hidden; */
  height: 80px;
  background-color: #fff;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.16);
}

#navbar {
  width: 100%;
  position: fixed;
}

img#signUpOkLogo {
  position: absolute;
  top: 31px;
  left: 33px;
}

#logo {
  position: absolute;
  font-family: Billabong;
  font-size: 45px;
  left: 75px;
  top: 20px;
  text-decoration: none;
  color: #000;
}

#navbar > ul {
  float: right;
  display: flex;
  margin-right: 57px;
  line-height: 45px;
}

li {
  padding-right: 10px;
  font-family: HelveticaNeue;
  font-size: 18px;
}

a.signUp {
  text-decoration: none;
  color: #303030;
}

a.signUp:active {
  text-decoration: underline;
  color: #551a8b;
}
/* 비밀번호 재설정 텍스트 */
.findPwdInfo-text {
  position: absolute;
  height: 54px;
  width: 256px;
  left: 50%;
  top: 23%;
  transform: translate(-50%, 0%);
}

#findPwd-text {
  font-size: 40px;

  color: #6b6b6b;
  font-family: MalgunGothic;
  font-weight: bold;
}

/* 비밀번호 재설정 컨텐츠 */
.findPwd-content {
  position: absolute;
  height: 400px;
  width: 460px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0%);
}

#findPwdComment {
  position: absolute;
  width: 300px;
  left: 50%;
  font-size: 18px;
  font-family: MalgunGothic;
  color: #474747;
  transform: translate(-50%, 0%);
}

/* 새 비밀번호 입력 폼 */
.findPwdInput-container {
  position: absolute;
  width: 460px;
  height: 196px;
  top: 22%;
  left: 50%;
  transform: translate(-50%, 0%);
  border: solid 1px #d2d2d2;
  border-radius: 5px;
}
form {
  position: absolute;
  width: 460px;
  height: 308px;
}
.idText {
  position: absolute;
  left: 34.5px;
  top: 39.2px;
  font-family: MalgunGothic;
  font-size: 16px;
}

.idText2 {
  position: absolute;
  left: 201px;
  top: 39.2px;
  font-family: MalgunGothic;
  font-size: 16px;
}

.pwdText {
  position: absolute;
  left: 34.5px;
  top: 90px;
  font-family: MalgunGothic;
  font-size: 16px;
}

#userNewPwd {
  position: absolute;
  width: 222px;
  height: 29px;
  left: 200px;
  top: 84px;
  border-radius: 5px;
  padding-left: 8px;
  border: solid 1px #e7e7e7;
  background-color: #f9f9f9;
}

#userNewPwd:focus {
  outline: none;
  border: 1px solid #303030;
}

.pwdTextCheck {
  position: absolute;
  left: 34.5px;
  top: 140.8px;
  font-family: MalgunGothic;
  font-size: 16px;
}

#userNewPwdCheck {
  position: absolute;
  width: 222px;
  height: 29px;
  left: 200px;
  top: 135px;
  border-radius: 5px;
  padding-left: 8px;
  border: solid 1px #e7e7e7;
  background-color: #f9f9f9;
}

#userNewPwdCheck:focus {
  outline: none;
  border: 1px solid #303030;
}

.findPwdCheckBtn {
  position: absolute;
  top: 249px;
  left: 50%;
  font-family: MalgunGothic;
  font-size: 25px;
  width: 457px;
  height: 59px;
  transform: translate(-50%, 0%);
  border: none;
}

.findPwdCheckBtnEnabled {
  border: none;
  background-color: #303030;
  color: #fff;
}

/* 푸터 */
.signUp_footer {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-height: 860px) {
  .signUp_footer {
    display: none;
  }
}
.footer_inner {
  position: relative;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.footer_info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #737373;
  font-family: HelveticaNeue;
  font-size: 12px;
}
