html {
  height: 100%;
  display: block;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.content {
  position: absolute;
  height: 677px;
  width: 1550px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
}
.left-content {
  float: left;
  height: 100%;
  width: 60%;
}

@media (max-width: 1700px) {
  .left-content {
    display: none;
  }
  .login_container {
    position: absolute;
    margin-top: calc(-150px / -2);
    margin-left: calc(850px / -2);
  }
  .loginOK_container {
    position: absolute;
    margin-left: calc(850px / -2);
    margin-top: calc(-150px / -2);
  }
}

@media (max-height: 940px) {
  .login_footer {
    display: none;
  }
}

#mockUp {
  float: left;
  height: 100%;
  width: 60%;
}
#imac {
  position: absolute;
  top: 20%;
}

#iphone {
  position: absolute;
  left: 590px;
  top: 270px;
  z-index: 2;
}

.fade_container img {
  position: absolute;
  left: 646px;
  top: 293px;
}

.fade_container .active {
  z-index: 1;
}

/* 로그인 컨테이너 */
.login_container {
  position: absolute;
  width: 542px;
  height: 665px;
  left: 60%;
  top: 12%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px var();
  border-color: #e0e0e0;
  z-index: 3;
}

.login_container > img {
  position: absolute;
  left: 121px;
  top: 86px;
}

#logo_text {
  position: absolute;
  width: 213px;
  height: 99px;
  left: 198px;
  top: 70px;
  font-family: Billabong;
  font-size: 80px;
}

.input-box {
  position: relative;
  left: 71px;
  top: 181px;
  margin-top: 22px;
}

input[type="text"]:-ms-clear {
  display: none;
}

#userEmailClear {
  position: absolute;
  top: 18px;
  left: 350px;

  margin: auto;
  cursor: pointer;
  color: #ccc;
  background-color: #fff;
}

#keyShow {
  position: absolute;
  display: none;
  top: 20px;
  left: 349px;
  font-size: 9px;
  cursor: pointer;
  color: grey;
}

.input-box > input {
  background: transparent;
  
  border: solid 1px #d2d2d2;
  border-radius: 6px;
  padding: 20px 0px 5px 0px;
  font-size: 14pt;
  width: 373px;
  height: 30px;
}

#userEmail {
  padding-left: 15px;
}

#password {
  padding-left: 15px;
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown + label {
  color: #aaa;
  font-size: 14pt;
  top: 15px;
}

input:focus {
  outline: none;
  border: 1px solid #303030;
}

input:focus + label,
label {
  color: #aaa;
  font-size: 10pt;
  position: absolute;
  left: 15px;
  top: 5px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.loginBtn {
  position: absolute;
  margin-top: -18px;
  height: 59px;
  width: 390px;
  left: 71px;
  top: 377px;
  border: none;
  font-size: 25px;
  background-color: #e7e7e7;
  color: #a4a4a4;
}
.loginBtnDisabled {
  border: none;
  background-color: #303030;
  color: #fff;
}

input[type="checkbox"] + label {
  position: absolute;
  top: 430px;
  left: 71px;
  width: 19.1px;
  height: 19.1px;
  background: url("../images/autoLoginCheckBoxFalse.svg") no-repeat 0 0px /
    contain;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  background: url("../images/autoLoginCheckBoxTrue.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

#auto_login_text {
  position: absolute;
  font-size: 16px;
  font-family: MalgunGothic;
  color: #303030;
  left: 103px;
  top: 428px;
}

#popup {
  position: absolute;
  top: 430px;
  left: 195px;
}

.modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.modal-wrap {
  display: none;
  position: absolute;
  top: 455px;
  left: 70px;
  width: 215px;
  height: 52px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 4px;
  z-index: 1000;
}

#modal_text {
  position: absolute;
  font-size: 11px;
  color: #fff;
  left: 10px;
  top: 9px;
}

#cancelBtn {
  position: absolute;
  left: 203px;
  top: -3.5px;
  cursor: pointer;
}

.id_pwd {
  position: absolute;
  font-size: 16px;
  font-family: MalgunGothic;
  color: #303030;
}

#id_find {
  top: 428px;
  left: 360px;
}

#id_find > a {
  text-decoration: none;
  color: #303030;
}

#id_find > a:active {
  color: #1877f2;
}

#idPwd {
  top: 428px;
  left: 380px;
}

#pass_find {
  top: 428px;
  left: 390px;
}

#pass_find > a {
  text-decoration: none;
  color: #303030;
}

#pass_find > a:active {
  color: #1877f2;
}

#kakaoLogin {
  position: absolute;
  left: 71px;
  top: 460px;
}

#naverLogin {
  position: absolute;
  left: 273px;
  top: 460px;
}

#signUp {
  position: absolute;
  font-size: 18px;
  color: #868e96;
  top: 570px;
  left: 120px;
}

#signUpTag {
  position: absolute;
  font-size: 16px;
  color: #868e96;
  top: 571px;
  left: 340px;
}

#signUpTag > a {
  text-decoration: none;
  color: #1877f2;
}

/* 로그인 완료시 css */
.loginOK_container {
  position: absolute;
  width: 542px;
  height: 521px;
  left: 60%;
  top: 25%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px var();
  border-color: #e0e0e0;
}

.loginOK_container > img {
  position: absolute;
  left: 121px;
  top: 70px;
}

#logo2_text {
  position: absolute;
  width: 213px;
  height: 99px;
  left: 198px;
  top: 54px;
  font-family: Billabong;
  font-size: 80px;
}

.loginOKBtn {
  position: absolute;
  height: 59px;
  width: 390px;
  left: 71px;
  top: 351px;
  border: none;
  font-size: 25px;
  background-color: #303030;
  color: #fff;
}

/* 프로필 사진 */
img.profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  width: 135px;
  height: 135px;
  border-radius: 70%;
  border: solid 2px #dedede;
  object-fit: cover;
}

/* 푸터 시작 */
.login_footer {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer_inner {
  width: 519.5px;
  height: 100px;
  margin: auto;
}

.footer_info {
  font-size: 15px;
  line-height: 40px;
  color: #737373;
}

.footer_info > a {
  text-decoration: none;
  color: #737373;
}

.footer_info2 {
  font-size: 14px;
  color: #737373;
}

.footer_info3 {
  font-size: 14px;
  color: #737373;
}

.footer_info4 {
  font-size: 12px;
  color: #737373;
}

a:active {
  color: #e0e0e0;
}
