/*----------------- 상단바 -------------------*/
/* header {
  vertical-align: middle;
}
 */
nav {
	width: 100%;   
	height: 80px; 
	border-bottom: 1px solid #e7e7e7;
	background-color: #fff;
  	position: fixed;
  	top: 0;
  	z-index: 100;
}

body {
  margin: 0;
}

#PhoTalk {
  width: 121px;
  height: 23px;
  margin: 0 0 0 10px;
  font-family: Billabong;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.InputBase {
  width: 150px;
  height: 20px;
  margin: 0px 0px 0px 151px;
  padding: 9.5px 153.5px 9.5px 12px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #d4d4d4;
  background-color: #fcfcfc;
  margin-right: 20px;
  color: #a4a4a4;
  font-size: 16px;
}


.navbar{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-top: 22px;
  padding-left: 23px;
  z-index:100;
}

.navbar-brand {
  text-decoration: none;
}

#mainMessageFalse,
#mainAlarmFalse,
#mainProfile2 {
  display: inline-block;
  vertical-align: middle;
}

#mainMessageFalse {
  margin-left: auto;
}

#mainAlarmFalse {
  float: right;
  margin-left: 20px;
}

#mainProfile2 {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar input {
  background-image: url("/images/mainSearch.png");
  background-repeat: no-repeat;
  background-position: 7px center;
  padding-left: 35px;
}

.navbar input:focus {
  outline:none; 
}

.alarm {
	position: absolute;
    right: 5px;
    bottom: 29px;
}

.absol {
  position:relative;
  margin-left: auto;
  border: none;
  background-color:transparent
}

.alarmBalloon {
  font-size: 4px;
  color: white;
  position:relative;
  max-width: 160px;
  padding-right: 3px;
  padding-left: 3px;
  display: inline-block;
  word-break: break-all;
  background:#fd3c56;
  border-radius: 2px;
}


/* 상단바 검색창 */
table.userTable{
  position: fixed !important;
  display: block;
  z-index: 110;
  left: 355px !important;
  top: 70px !important;
  border-radius: 5px;
  border-collapse: collapse;
  width: 338px;
 
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16); 
  background-color: #fff;
 
}

#ajaxTable{
  display: block;
  max-height: 295px;
  margin-top: 2px;
  overflow-y: auto;
  width: 335px;
  text-align: left;
  border-radius: 8px;
  background-color:transparent;
  opacity: 1;
  
}

#ajaxTable::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */

}

#ajaxTable::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  border-radius: 5px;
  background: #eeeeee; /* 스크롤바의 색상 */
}

#ajaxTable::-webkit-scrollbar-track {
  background: #fff; /*스크롤바 뒷 배경 색상*/
}

tr{
  height: 58px;	
  cursor: pointer;
  border-bottom: solid 1px #eee;
}

.photoTd{
  width: 55px;
  padding-left: 15px;
}

.nickNameTd{
  font-size: 15px;
  width: 263px;
  color: #303030;
}

.emailTd{
  font-size: 12px;
  color: #a4a4a4;
}


/* 프로필 모달 */
.profile-modal{
  position: fixed;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);
  width: 316px;
  height: 271px;
  right: 0.5%;
  top: 90px;
  z-index: 10;
}

#innerProfile{
  display: block;
  max-height: 295px;
  margin-top: 17px;
  width: 310px;
}

.profile-td{
  padding-left: 21px;
  width: 30px;
}

.profile-td2{
  padding-left: 10px;
  font-size: 18px;
}

/* 로그아웃 모달 */
.logout-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  }

.logoutBox {
  position: fixed;
  background-color: #fff;
  width: 340px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 5px;
  
}

.logoutBox button {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.logoutBtn{
  position: absolute;
  height: 75px;
  width: 340px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid 1px #d8d8d8;
}

#logoutText{
  position: absolute;
  font-size: 20px;
  color: #fd3c56;
  font-family: MalgunGothic;
  font-weight: bold;
  left: 135px;
  top: 26.7px;
}

.logoutCancel{
  position: absolute; 
  height: 75px;
  width: 340px;
  top:75px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
}

#logoutCancelText{
  position: absolute;
  font-size: 20px;
  color: #303030;
  font-family: MalgunGothic;
  left: 155px;
  top: 26.7px;	
}