html {
  height: 100%;
  display: block;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

nav {
  width: 100%;
  /* overflow: hidden; */
  height: 80px;
  background-color: #fff;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.16);
}

#navbar {
  width: 100%;
  position: fixed;
}

img#joinLogo {
  position: absolute;
  top: 31px;
  left: 33px;
}

#logo {
  position: absolute;
  font-family: Billabong;
  font-size: 45px;
  left: 75px;
  top: 20px;
  text-decoration: none;
  color: #000;
}

#navbar > ul {
  float: right;
  display: flex;
  margin-right: 57px;
  line-height: 45px;
}

li {
  padding-right: 10px;
  font-family: HelveticaNeue;
  font-size: 18px;
}

a.signUp {
  text-decoration: none;
  color: #303030;
}

a.signUp:active {
  text-decoration: underline;
  color: #551a8b;
}

.termsService-text {
  position: absolute;
  height: 70px;
  width: 600px;
  left: 50%;
  top: 22%;
  transform: translate(-53%, 0%);
}

#terms-text {
  font-size: 40px;
  color: #6b6b6b;
  font-family: MalgunGothic;
  font-weight: bold;
}

.termsService-content {
  position: absolute;
  height: 300px;
  width: 600px;
  left: 50%;
  top: 37%;
  transform: translate(-53%, 0%);
}

/* 체크 박스 */
input#checkAll + label {
  position: absolute;
  width: 36px;
  height: 36px;
  background: url("../images/joinCheckBoxAllFalse.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#checkAll:checked + label {
  background: url("../images/joinCheckBoxAllTrue.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#checkAll {
  display: none;
}

#allAgree_text {
  position: absolute;
  font-size: 30px;
  font-family: MalgunGothic;
  font-weight: bold;
  color: #474747;
  left: 10%;
  top: -1%;
}

hr {
  position: absolute;
  top: 15%;
  width: 600px;
  background: #d8d8d8;
  height: 1px;
  border: 0;
}

input#termsOfService + label {
  position: absolute;
  top: 30%;
  width: 32px;
  height: 24px;
  background: url("../images/joinCheckBoxOnlyFalse.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#termsOfService:checked + label {
  background: url("../images/joinCheckBoxOnlyTrue.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#termsOfService {
  display: none;
}

#allAgree_text2 {
  position: absolute;
  font-size: 18px;
  font-family: MalgunGothic;
  color: #474747;
  left: 10%;
  top: 30%;
}

input#privacyPolicy + label {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 24px;
  background: url("../images/joinCheckBoxOnlyFalse.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#privacyPolicy:checked + label {
  background: url("../images/joinCheckBoxOnlyTrue.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#privacyPolicy {
  display: none;
}

#allAgree_text3 {
  position: absolute;
  font-size: 18px;
  font-family: MalgunGothic;
  color: #474747;
  left: 10%;
  top: 50%;
}

input#allowPromotions + label {
  position: absolute;
  top: 70%;
  width: 32px;
  height: 24px;
  background: url("../images/joinCheckBoxOnlyFalse.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#allowPromotions:checked + label {
  background: url("../images/joinCheckBoxOnlyTrue.svg") no-repeat 0 0px / contain;
  cursor: pointer;
}

input#allowPromotions {
  display: none;
}

#allAgree_text4 {
  position: absolute;
  font-size: 18px;
  font-family: MalgunGothic;
  color: #474747;
  left: 10%;
  top: 70%;
}

.next-button {
  position: absolute;
  margin-top: -18px;
  height: 59px;
  width: 600px;
  top: 377px;
  border: none;
  font-size: 25px;
  background-color: #e7e7e7;
  color: #a4a4a4;
}

.next-buttonDisabled {
  border: none;
  background-color: #303030;
  color: #fff;
}

/* 서비스 이용 약관 팝업 */
#termsBtn {
  position: absolute;
  left: 95%;
  top: 31.5%;
  cursor: pointer;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  /* 팝업창 크기 지정 */
  width: 623px;
  height: 650px;
  border: none;
  border-radius: 11px;
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

#show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

#popup-header {
  position: absolute;
  left: 134px;
  top: 41px;
  font-size: 35px;
  color: #6b6b6b;
  font-weight: bold;
}

#popup-content {
  position: absolute;
  top: 128px;
  left: 39px;
  width: 504px;
  height: 371px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #707070;
  overflow-y: scroll;
  padding: 20px;
}

#popup-content::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

#popup-content::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #eeeeee; /* 스크롤바의 색상 */
}

#popup-content::-webkit-scrollbar-track {
  background: #f9f9f9; /*스크롤바 뒷 배경 색상*/
}

#close {
  position: absolute;
  width: 260px;
  height: 59px;
  top: 566px;
  left: 41px;
  border: none;
  font-size: 25px;
  font-family: MalgunGothic;
  color: #303030;
  cursor: pointer;
}

#check {
  position: absolute;
  width: 260px;
  height: 59px;
  top: 566px;
  left: 323px;
  border: none;
  font-size: 25px;
  font-family: MalgunGothic;
  background-color: #303030;
  color: #fff;
  cursor: pointer;
}

/* 개인정보 처리 약관 팝업 */
#termsBtn2 {
  position: absolute;
  left: 95%;
  top: 50%;
  cursor: pointer;
}

.background2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show2 {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  /* 팝업창 크기 지정 */
  width: 623px;
  height: 650px;
  border: none;
  border-radius: 11px;
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

#show .popup2 {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

#popup-header2 {
  position: absolute;
  left: 152px;
  top: 41px;
  font-size: 35px;
  color: #6b6b6b;
  font-weight: bold;
}

#popup-content2 {
  position: absolute;
  top: 128px;
  left: 39px;
  width: 504px;
  height: 371px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #707070;
  overflow-y: scroll;
  padding: 20px;
}

#popup-content2::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

#popup-content2::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #eeeeee; /* 스크롤바의 색상 */
}

#popup-content2::-webkit-scrollbar-track {
  background: #f9f9f9; /*스크롤바 뒷 배경 색상*/
}

#close2 {
  position: absolute;
  width: 260px;
  height: 59px;
  top: 566px;
  left: 41px;
  border: none;
  font-size: 25px;
  font-family: MalgunGothic;
  color: #303030;
  cursor: pointer;
}

#check2 {
  position: absolute;
  width: 260px;
  height: 59px;
  top: 566px;
  left: 323px;
  border: none;
  font-size: 25px;
  font-family: MalgunGothic;
  background-color: #303030;
  color: #fff;
  cursor: pointer;
}
/* 푸터 */
.signUp_footer {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-height: 860px) {
  .signUp_footer {
    display: none;
  }
}
.footer_inner {
  position: relative;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.footer_info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #737373;
  font-family: HelveticaNeue;
  font-size: 12px;
}
