.gaininfo{
	position: absolute;
	top:195px;
	left:642px;
	font-size: 22px;
    font-weight: bold;
}

hr {
    width: 950px;
    height: 2.5px;
    position:absolute;
    left:642px;
    top:221.8px;
    background-color:#d8d8d8;
    border:none;
    
  }

.line1{
    position: absolute;
    left:642px;
    top:288.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line2{
    position: absolute;
    left:642px;
    top:351.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line3{
    position: absolute;
    left:642px;
    top:414.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line4{
    position: absolute;
    left:642px;
    top:477.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line5{
    position: absolute;
    left:642px;
    top:540.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line6{
    position: absolute;
    left:642px;
    top:603.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line7{
    position: absolute;
    left:642px;
    top:680.5px;
    width: 950px;
    height: 2.5px;
    background-color:#d8d8d8;
    border:none;
}

.Text-Name{
  font-family: MalgunGothic;
  position:absolute;
  left: 656px;
  top: 250px;
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.88;
letter-spacing: normal;
text-align: left;
color: var(--black);
}

.Text-Nickname{
  font-family: MalgunGothic;
  position:absolute;
  left: 656px;
  top: 315px;
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.88;
letter-spacing: normal;
text-align: left;
color: var(--black);
}

.Text-Email{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 377px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Phone{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 437px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-School{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 502px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Address{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 561px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Social{
  font-family: MalgunGothic;
  position:absolute;
  left: 656px;
  top: 634px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  font-weight: bold;
  color: var(--black);
}
.Text-Socail1{
 font-family: MalgunGothic;
  position:absolute;
  left: 800px;
  top: 634px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  font-weight: normal;
  color: var(--black); 
}
.Text-Name1{
  font-family: MalgunGothic;
  position:absolute;
  left: 800px;
  top: 250px;
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.88;
letter-spacing: normal;
text-align: left;
color: var(--black);
}

.Text-Nickname1{
  font-family: MalgunGothic;
  position:absolute;
  left: 800px;
  top: 315px;
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.88;
letter-spacing: normal;
text-align: left;
color: var(--black);
}

.Text-Email1{
    font-family: MalgunGothic;
    position:absolute;
    left: 800px;
    top: 377px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Phone1{
    font-family: MalgunGothic;
    position:absolute;
    left: 800px;
    top: 437px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-School1{
    font-family: MalgunGothic;
    position:absolute;
    left: 800px;
    top: 502px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Address1{
    font-family: MalgunGothic;
    position:absolute;
    left: 800px;
    top: 561px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Socail1{
    font-family: MalgunGothic;
    position:absolute;
    top: 634px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}


.Text-Info{
        z-index: 10;
        font-family: MalgunGothic;
        position:absolute;
        left: 91px;
        top: 160px;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;
      color: var(--black);
    }


.Text-Update{
        z-index: 10;
        font-family: MalgunGothic;
        position:absolute;
        left: 91px;
        top: 227px;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;
      color: var(--black);
}
.Text-Update2{
    position: absolute;
    left: 1528px;
    top: 706px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #0069d9;
}


a#update2{
    color: #0069d9;
    text-decoration: none;
}


.side-bar{
    position:fixed;
    width: 360px;
    height: 1000px;
    background-color: #e0e0e0;
    z-index: -10;
 
}


.Info{
    position:absolute;
    left:41.2px;
    top: 158px;

}

.Update{
    position:absolute;
    left:41.2px;
    top: 227px;

}

.Info-Update{
    position:absolute;
    left:1504px;
    top: 712px;

}

/* ν‘Έν„° μ‹μ‘ */
.login_footer {
  height: 150px;
  width: 119%;
  position: absolute;
  bottom: 0;
}

.footer_inner {
  width: 519.5px;
  height: 100px;
  margin: auto;
}

.footer_info {
  font-size: 13px;
  line-height: 40px;
  color: #737373;
}

.footer_info > a {
  text-decoration: none;
  color: #737373;
}

.footer_info2 {
  font-size: 12px;
  color: #737373;
}

.footer_info3 {
  font-size: 12px;
  color: #737373;
}

.footer_info4 {
  font-size: 10px;
  color: #737373;
}

a:active {
  color: #e0e0e0;
}