.gaininfo{
	position: absolute;
	top:195px;
	left:642px;
	font-size: 22px;
    font-weight: bold;
}

hr {
    width: 950px;
    height: 2.5px;
    position:absolute;
    left:642px;
    top:221.8px;
    background-color:#d8d8d8;
    border:none;
    
  }

.line1{
    position: absolute;
    left:642px;
    top:288.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line2{
    position: absolute;
    left:642px;
    top:351.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line3{
    position: absolute;
    left:642px;
    top:414.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line4{
    position: absolute;
    left:642px;
    top:477.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line5{
    position: absolute;
    left:642px;
    top:540.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line6{
    position: absolute;
    left:642px;
    top:651.5px;
    width: 950px;
    height: 1px;
    background-color:#d8d8d8;
    border:none;
}

.line7{
    position: absolute;
    left:642px;
    top:729.5px;
    width: 950px;
    height: 2.5px;
    background-color:#d8d8d8;
    border:none;
}

.Text-Name{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 250px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Nickname{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 315px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Email{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 377px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Phone{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 437px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-School{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 502px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Address{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 561px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Socail{
    font-family: MalgunGothic;
    position:absolute;
    left: 656px;
    top: 685px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Info{
        z-index: 10;
        font-family: MalgunGothic;
        position:absolute;
        left: 91px;
        top: 160px;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;
      color: var(--black);
    }


.Text-Update{
        z-index: 10;
        font-family: MalgunGothic;
        position:absolute;
        left: 91px;
        top: 227px;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;
      color: var(--black);
}
.Text-Phone1{
    font-family: MalgunGothic;
    position:absolute;
    left: 800px;
    top: 437px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.Text-Name1{
  font-family: MalgunGothic;
  position:absolute;
  left: 800px;
  top: 250px;
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.88;
letter-spacing: normal;
text-align: left;
color: var(--black);
}

.Text-back{
    position: absolute;
    left: 642px;
    top: 754px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #0069d9;
}



a#back{
    color: black;
    text-decoration: none;
}


.side-bar{
    position:fixed;
        width: 360px;
        height: 1000px;
        background-color: #e0e0e0;
        z-index: -10;
 
}


.Info{
    position:absolute;
    left:41.2px;
    top: 158px;

}

.Update{
    position:absolute;
    left:41.2px;
    top: 227px;

}

.Info-Update{
    position:absolute;
    left:1504px;
    top: 712px;

}

input#nickname{
    position:absolute;
    top: 315px;
    left: 800px;
    Height :25px;
    border: solid 1px #e7e7e7;
    padding-left: 10px;
}

input[name=email]{
    position:absolute;
    top: 377px;
    left: 800px;
    Height :25px;
    padding-left: 10px;
    border: solid 1px #e7e7e7;
}

input#phone{
    position:absolute;
    top: 444px;
    left: 800px;
    Height :25px;
    padding-left: 10px;
    border: solid 1px #e7e7e7;
}

input#school{
    position:absolute;
    top: 503px;
    left: 800px;
    Height :25px;
    border: solid 1px #e7e7e7;
    padding-left: 10px;
}


input#social{
    position:absolute;
    top: 687px;
    left: 800px;
    Height :25px;
    border: solid 1px #e7e7e7;
    padding-left: 10px;
}

input[type="text"]:-ms-clear {
  display: none;
}

input:focus{
 outline:none;
}

.change {
    position: absolute;
    top: 754px;
    left: 1528px;
    background-color: white;
    border:none;
    color: #0069d9;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

#member_post{
    position : absolute;
    top: 564px;
    left: 800px;
    width: 91px;
    Height :20px;
    padding-left: 10px;
    border: solid 1px #e7e7e7;
}
#member_addr{
    position: absolute;
    top: 600px;
    left: 800px;
    width: 300px;
    Height :20px;
    padding-left: 10px;
    border: solid 1px #e7e7e7;

}

.address{
    position: absolute;
    top: 564px;
    left: 913px;
    width: 79px;
    Height :25px;
    background-color: #303030;
    color: white;
    cursor: pointer;
}
/* ν‘Έν„° μ‹μ‘ */
.login_footer {
  height: 150px;
  width: 119%;
  position: absolute;
  bottom: 0;
}

.footer_inner {
  width: 519.5px;
  height: 100px;
  margin: auto;
}

.footer_info {
  font-size: 13px;
  line-height: 40px;
  color: #737373;
}

.footer_info > a {
  text-decoration: none;
  color: #737373;
}

.footer_info2 {
  font-size: 12px;
  color: #737373;
}

.footer_info3 {
  font-size: 12px;
  color: #737373;
}

.footer_info4 {
  font-size: 10px;
  color: #737373;
}

a:active {
  color: #e0e0e0;
}



